/* =============================
*       Style interface 
==============================*/

/* Map */
.mx-map_wrap{
	position: relative;
	display: table;
	border: 1px solid #ddd;
}

/* Point */
.mx-point{
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	top: -100px;
	left: 0px;
	background: #fff;
}